---
layout: default
---
<article id="home">
  <dl>
    {% assign now = site.time | date: '%s' | plus: 0 %}
    {% assign today = site.time | date: '%Y-%m-%d' %}

    {% include prepare_conference_data.liquid %}

    {% assign conferences = conferences | sort: 'cfp_close_date' %}

    {% for event in conferences %}
      {% assign start_date = event.start_date | date: '%s' | plus: 0 %}
      {% assign cfp_close_timestamp = event.cfp_close_date | date: '%s' | plus: 0 %}
      {% assign cfp_close_date = event.cfp_close_date | date: '%Y-%m-%d' %}

      {% if start_date >= now and cfp_close_timestamp >= now or cfp_close_date == today %}
        {% include event.html %}
      {% endif %}
    {% endfor %}
  </dl>
</article>
