branches:
  only:
    - master
    - travis
language: ruby
cache: bundler
before_install:
  - gem update --system
  - gem install bundler
rvm:
  - 2.5.3
script:
  - ./bin/travis_script
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
notifications:
  email: false
  webhooks:
    urls:
      secure: A/uNJ6yZtaM8R4Y/YpNyP34FJyQI5fpQD5zr74vfJ+9bLjGEXh9jkCeBxFBvDvihCVKsZW298CD7wUf03/p5tpoh3x9xSjDZRjRuN57htaGxS9X4460kD87N+hRivjs0cnJjpJVepD4cny7M5GctKKGo7/umZHA5fISIXqebPauuxy+yfa+1r2dvRkxSeV0gjhDTdVfB3GFOrhagcFdY67zrx2IXgtOhrv++WEGWXj+jtcDrSACsEZ9Zh9GrS5Mi6VolTR48iOOzx8+MBHrv0ncLVmao/Cc8peTEcMYihZTQkL6N0XvUtlZqy6nDwRQSUiopuaScz+W0LngZKFFcrW1h3MM2nADpBemVbUd9b5OvAr+4NKLgwG3Inxq3LE8nQzzCf7fM8p7lPvR4nHwssEKLGjHDQrN6BWfkuBByEVdUIs75WR+7aar+3e/mKxMZaFRmeF8cMO/SG4UkiVbwO9qQPWB75mIUpeKmNjibp0Fm4M2z9DLtaN2jR7z/iED/tz0yzQDMoSJQrBFSQH6etgpRHcKQxmiVcXIs6ve8DtFY2Z4s8x3HtbmQ/jlskjJQ/aLmEPs5yBdsDmDmuXT8pLTwpGAJlfzVQLV5FYCOlqMrAOHtIJWGde2fwDP0pocS5NCXLtCwnAN+9+W8TEqPjY9FYtkPr9ikLUgUvcQCjsQ=
