<dt>
  {% if event.url %}
  <a href="{{ event.url }}">{{ event.name }}</a>
  {% else %}
  <a>{{ event.name }}</a>
  {% endif %}
  {% if event.reg_phrase %}
  <div class="reg" data-date="{{ event.reg_date }}" data-phrase="{{ event.reg_phrase }}"></div>
  {% endif %}
  {% if event.cfp_phrase %}
  <div class="cfp" data-date="{{ event.cfp_date }}" data-phrase="{{ event.cfp_phrase }}"></div>
  {% endif %}
</dt>
<dd>
  <ul>
    <li>
      {% assign start_month = event.start_date | date: '%m' %}
      {% assign end_month = event.end_date | date: '%m' %}
      {% assign start_year = event.start_date | date: '%Y' %}
      {% assign end_year = event.end_date | date: '%Y' %}

      {% if event.start_date == event.end_date %}
        {{ event.start_date | date: '%B %-d, %Y' }}
      {% elsif start_month == end_month %}
        {{ event.start_date | date: '%B %-d' }}–{{ event.end_date | date: '%-d, %Y' }}
      {% elsif start_year == end_year %}
        {{ event.start_date | date: '%B %-d' }}–{{ event.end_date | date: '%B %-d, %Y' }}
      {% else %}
        {% comment %}
          This should only trigger if some crazy person has a conference over the New Year
        {% endcomment %}
        {{ event.start_date | date: '%B %-d, %Y' }}–{{ event.end_date | date: '%B %-d, %Y' }}
      {% endif %}
    </li>
    <li>{{ event.location }}</li>
    {% if event.twitter %}
      <li><a href="https://twitter.com/{{ event.twitter }}">@{{ event.twitter }}</a></li>
    {% endif %}
    {% if event.video_link %}
      <li><a href="{{ event.video_link }}">Event Videos</a></li>
    {% endif %}
  </ul>
</dd>
