<div class="meetup-item {{ meetup.date | date: '%Y%m' }} {% if meetup.location == 'Online' %}online{% else %}in-person{% endif %}">
  <dt>
    {% if meetup.url %}
      <a href="{{ meetup.url }}">{{ meetup.name }}</a>
    {% else %}
      <a>{{ meetup.name }}</a>
    {% endif %}

    {% if meetup.status %}
      <div class="status" data-phrase="{{ meetup.status }}"></div>
    {% endif %}
  </dt>
  
  <dd>
    <ul>
      <li>{{ meetup.date | date: "%B %-d, %Y" }}</li>
      <li>{{ meetup.location }}</li>
    </ul>
  </dd>  
</div>
