<div class="meetup-dates-container">
  {% assign unique_dates = "" | split: "" %}
  {% assign now = "now" | date: "%Y-%m-%d 00:00:00" | date: "%s" | plus: 0 %}
  {% for meetup in meetups %}
    {% assign date = meetup.date | date: "%s" | plus: 0 %}
    {% if date >= now %}
      {% assign formatted_date = meetup.date | date: "%Y%m" %}
      {% unless unique_dates contains formatted_date %}
        <div class="meetup-date-clip"
             title="{{ meetup.date | date: '%B %Y' }}"
             onclick="toggleByYearMonth(`{{ meetup.date | date: '%Y%m' }}`, this)">
          {{ meetup.date | date: "%B %Y" }}
        </div>
        {% assign unique_dates = unique_dates | push: formatted_date %}
      {% endunless %}
    {% endif %}
  {% endfor %}
</div>

<script>
  function toggleByYearMonth(yearMonthToShow, element) {
    const isElementSelected = element.classList.contains('selected');
    if (isElementSelected) {
      showAllMeetups();
      element.classList.remove('selected');
    } else {
      showMeetups(yearMonthToShow);

      const clips = document.querySelectorAll('.meetup-date-clip');
      clips.forEach(clip => clip.classList.remove('selected'));
      element.classList.add('selected');
    } 
  }

  function showAllMeetups() {
    const meetups = document.getElementsByClassName('meetup-item');
    Array.from(meetups).forEach(meetup => {
      meetup.style.display = 'block';
    });
  }

  function showMeetups(yearMonth) {
    const meetups = document.getElementsByClassName('meetup-item');
    Array.from(meetups).forEach(meetup => {
      if (meetup.classList.contains(yearMonth)) {
        meetup.style.display = 'block';
      } else {
        meetup.style.display = 'none';
      }
    });
  }
</script>

<style>
  .meetup-dates-container {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
    overflow-x: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .meetup-date-clip {
    background-color: white;
    padding: 4px 16px;
    border-radius: 24px;
    white-space: nowrap;
    &:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
    &.selected {
      background-color: #c72c41;
      color: white;
    }
  }
</style>